.cards{
    max-width: 1280px;
    border-bottom: 1px solid rgb(0, 0, 0, .4);
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-items: center;
}

.card__items{
    margin: 0;
    width: 413px;
    height: 413px;
    padding: 0 0 72px 0;
}

.card__photo{
    width: 413px;
    height: 413px;
    margin:0;
    border-radius: 8px;
    object-fit:cover;
}

.card__description{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    line-height: 24px;
    padding-bottom: 36px;

}

.card__like-icon{
    width: 23px;
    height: 20px;
    opacity: 40%;
    transition: ease-in 0.2s all;
}

.card__like-icon:hover{
    opacity: 100%;
    cursor: pointer;
}
