.cards {
  max-width: 1280px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  align-items: center;
  padding: 0;
}

.cards__item {
  margin: 0;
  width: 413px;
  padding: 0 0 72px 0;
  list-style: none;
}

.cards__photo {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 8px;
  object-fit: cover;
}

.cards__description {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  line-height: 24px;
  padding-bottom: 36px;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.cards__like-button {
  background-color: transparent;
  border: none;
}

.cards__like-icon {
  width: 23px;
  height: 20px;
  opacity: 40%;
  transition: ease-in 0.2s all;
}

.cards__like-icon:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1320px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 16px 0;
    justify-items: center;
  }
}

@media screen and (max-width: 880px) {
  .cards__item {
    width: 288px;
    height: 288px;    
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
