.header{
height: 210px;
max-width: 1280px;
margin: 34px auto 0;
border-bottom: 1px solid rgba(0, 0, 0, .4);
display: flex;
justify-content: space-between;
justify-items: center;
align-items: center;
}

.header__avatar-section{
max-width: 505px;
height: 190px;
display: flex;
gap: 20px;
margin-bottom: 20px;
}

.header__avatar{
max-width: 190px;
height: 190px;
border-radius: 8px;
}

.header__title{
max-width: 420px;
height: 190px;
}

.header__name-description{
max-width: 420px;
height: 60px;
}

.header__name-description_name{
margin: 0;
font-family:'Poppins', Helvetica, sans-serif;
font-size: 32px;
line-height: 32px;
font-weight: 500;
}

.header__name-description_description{
padding-top: 12px;
margin: 0;
font-family:'Poppins', Helvetica, sans-serif;
font-size: 16px;
line-height: 16px;
color: rgba(0, 0, 0, .7);
font-weight: 500;
}

.header__button-secondary{
margin-top: 114px;
opacity: 70%;
transition: ease-in 0.2s all;
}

.header__button-secondary:hover{
color: black;
opacity: 100%;
}

.header__button-secondary_link{
display: flex;
gap:8px;
color: black;
font-family:'Poppins', Helvetica, sans-serif;
font-size: 16px;
line-height: 16px;
text-decoration: none;
}

.header__button_large{
background-color: #212121;
color: white;
height:52px;
width: 157px;
border-radius: 8px;
gap: 8px;
border: none;
margin-top: 138px;
margin-bottom: 20px;
cursor: pointer;
transition: ease-in 0.2s all;
}

.header__button_large:hover{
opacity: 80%;
}

.header__button_large_image{
width: 12px;
height: 12px;
padding-right: 8px;
} 