.header {
  max-width: 1280px;
  margin: 34px auto 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__avatar-section {
  max-width: 505px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.header__avatar {
  max-width: 190px;
  height: 190px;
  border-radius: 8px;
}

.header__title {
  max-width: 420px;
  display: flex;
}

.header__name-description {
  max-width: 420px;
  flex-direction: column;
  display: flex;
}

.header__name-description_name {
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.header__name-description_description {
  padding-top: 12px;
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}

.header__button_large {
  background-color: #212121;
  color: white;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  gap: 8px;
  border: none;
  margin-top: auto;
  margin-bottom: 20px;
  cursor: pointer;
  transition: ease-in 0.2s all;
}

.header__button_large:hover {
  opacity: 80%;
}

.header__button_large_image {
  width: 12px;
  height: 12px;
  padding-right: 8px;
}

@media screen and (max-width: 1320px) {
  .header {
    margin: 20px 16px 0;
  }
}

@media screen and (max-width: 880px) {
  .header {
    flex-direction: column;
  }

  .header__name-description {
    text-align: center;
    align-items: center;
  }

  .header__avatar-section {
    flex-direction: column;
  }

  .header__avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }

  .header__button-secondary {
    margin-top: 32px;
  }

  .header__button_large {
    width: 100%;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
