.modal{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    padding: 0 16px;
}

.modal_opened{
    visibility: visible;
}

.modal__container{
    background: #fff;
    max-width: 730px;
    padding: 32px 50px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
}

.modal__container_type_preview{
    padding: 0;
    width: auto;
}

.modal__image{
    max-width: 80vw;
    height: 80vh;
    object-fit: contain;
    width: 100%;
    border-radius: 8px;
    display: block;
}

.modal__close-btn{
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    padding: 0;
    background: transparent;
}

.modal__close_type_preview{
    background-image: url(../images/Image-Close-Icon.svg);
    top: 0;
    right: -52.5px;
    cursor: pointer;
}

.modal__close-image {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 40%;
}

.modal__close-image:hover{
    opacity: 100%;
}

.modal__title{
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 17.6px;
    opacity: 70%;
}

.modal__input {
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid rgba(31, 31, 31, 0.4);
    cursor: pointer;
    color: #212121;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

#profile-name:hover{
    border: 1px solid #212121;
}

#profile-description:hover{
    border: 1px solid #212121;
}

.modal__submit-btn{
    width: 156px;
    padding: 18px 0;
    border-radius: 8px;
    border: none;
    background: #000;
    color: white;
    cursor: pointer;
}

.modal__caption {
    color: #fff;
    margin: 0;
    position: absolute;
    background-color: #212121;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width: 880px){
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }
    
    .modal__title {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .modal__close-btn {
        top: 12px;
        right: 12px
    }

    .modal__label{
        margin-bottom: 24px;
    }

    .modal__submit-btn {
        width: 100%;
    }
    
    .modal__container_type_preview{
        padding: 0;
        width: auto;
    }

    .modal__image{
        display: block;
        height: 100%;
        max-height: 80vh;
    }

}