.profile {
  max-width: 1280px;
  margin: 34px auto 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__avatar-section {
  max-width: 505px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.profile__avatar {
  max-width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__title {
  max-width: 420px;
  display: flex;
}

.profile__name-description {
  max-width: 420px;
  flex-direction: column;
  display: flex;
}

.profile__name {
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  color: #212121;
}

.profile__description {
  padding-top: 12px;
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
}

.profile__edit {
  margin-top: auto;
  opacity: 70%;
  transition: ease-in 0.2s all;
}

.profile__edit:hover {
  color: #212121;
  opacity: 100%;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  color: #212121;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile__post {
  background-color: #212121;
  color: white;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  gap: 8px;
  border: none;
  margin-top: auto;
  margin-bottom: 20px;
  cursor: pointer;
  transition: ease-in 0.2s all;
}

.profile__post:hover {
  opacity: 80%;
}

.profile__post-button {
  width: 12px;
  height: 12px;
  padding-right: 8px;
}

@media screen and (max-width: 1320px) {
  .profile {
    margin: 20px 16px 0;
  }
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    margin-top: 20px;
  }

  .profile__name-description {
    text-align: center;
    align-items: center;
  }

  .profile__description {
    padding-top: 6px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 20px;
  }

  .profile__avatar-section {
    flex-direction: column;
    gap: 12px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .profile__edit {
    margin-top: 32px;
  }

  .profile__post {
    width: 100%;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
